<footer class="footer-section text-white py-4">
  <div class="container text-center">

    <!-- Name / Tagline -->
    <h4 class="fw-bold mb-2">Jagruti Tatar</h4>
    <p class="opacity-75 small mb-3">Full Stack Developer • Angular | PrimeNG | Web Solutions</p>

    <!-- Social -->
    <!-- <div class="d-flex justify-content-center gap-4 mb-3">
      <a href="https://github.com/yourgithub" target="_blank" class="social-icon">
        <i class="pi pi-github text-3xl"></i>
      </a>
      <a href="https://linkedin.com/in/yourlinkedin" target="_blank" class="social-icon">
        <i class="pi pi-linkedin text-3xl"></i>
      </a>
      <a href="mailto:yourmail@example.com" class="social-icon">
        <i class="pi pi-envelope text-3xl"></i>
      </a>
       <a href="mailto:yourmail@example.com" class="social-icon">
        <i class="pi pi-whatsapp text-3xl"></i>
      </a>
    </div> -->

    <!-- Copyright -->
    <div class="opacity-75 small">
      © {{ currentYear }} <b>Jagruti Tatar</b>. All rights reserved.
    </div>
  </div>
</footer>
