<div class="projects-section py-6">
  <div class="container text-center">
    <h2 class="text-4xl font-bold text-warning mb-2">My Projects</h2>
    <p class="text-600 text-white mb-6">Selected works I’m proud of 🚀</p>

    <div class="grid justify-content-center gap-4">
      <div
        *ngFor="let project of projects"
        class="col-12 md:col-5 project-card"
      >
        <div
          class="card-bg"
          [style.backgroundImage]="'url(' + project.image + ')'"
        ></div>

        <div class="card-info">
          <h3>{{ project.title }}</h3>
          <p>{{ project.shortDesc }}</p>
          <a
            [href]="project.link"
            target="_blank"
            class="p-button p-component mt-2"
            >View Project</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
