

/* .skill-card {
  transition: all 0.3s ease;
  border: 3px solid rgba(53, 212, 191, 0.911);
}

.skill-card:hover {
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 8px 20px rgba(224, 111, 111, 0.899);
  border: 2px solid #d6f065;
}

.skill-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
} */

.skills-section {
  /* background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); */
  height: 90vh;
   background: linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ), 
    url('https://t4.ftcdn.net/jpg/08/14/54/71/360_F_814547144_an4xSu5K7CVQM1oAukpYURr3h3fUqeql.jpg') no-repeat center center/cover;
  color: #fff;
}

.skill-galaxy {
  gap: 2rem;
}

.planet {
  text-align: center;
  width: 110px;
  transition: transform 0.3s ease;
}
.planet:hover {
  transform: scale(1.15) rotate(5deg);
}

.planet-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  animation: orbit 6s infinite ease-in-out alternate;
}

@keyframes orbit {
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(-12px) rotate(3deg); }
  100% { transform: translateY(0px) rotate(0deg); }
}
