<!-- Splash -->
<!-- <app-splash *ngIf="showSplash" (splashEnded)="onSplashEnded()"></app-splash> -->

<!-- Main Page -->
<!-- <div *ngIf="!showSplash" class="main-content fade-in"> -->
  <app-navbar></app-navbar>

  <main class="mt-5 pt-4">
    <section id="home"><app-home></app-home></section>
    <section id="about"><app-about></app-about></section>
    <section id="skills"><app-skills></app-skills></section>
    <section id="projects"><app-projects></app-projects></section>
    <section id="contacts"><app-contact></app-contact></section>
  </main>

  <app-footer></app-footer>
<!-- </div> -->
